*{
    font-family: "Merriweather", "Open Sans", serif, sans-serif;
}
html, body {
    height: 100%;
}
body {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/sayagata-400px.png");
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.parallax-container{
    height: 300px;
}
.projectcontent{
    height: 575px;
}
.footer-copyright{
    text-align: center;
}
#homeContentBox p{
    font-family: 'Aref Ruqaa', serif;
    font-weight: bold;
    opacity: 0;
    margin-top: 25px;
    text-align: center;
}
#homeContentBox p.firstHome {
    font-size: 32px;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
#homeContentBox p.secondHome {
    font-size: 24px;
    -webkit-transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    -o-transition: opacity 3s ease-in;
    -ms-transition: opacity 3s ease-in;
    transition: opacity 3s ease-in;
}
#homeContentBox p.thirdHome {
    font-size: 24px;
    -webkit-transition: opacity 4s ease-in;
    -moz-transition: opacity 4s ease-in;
    -o-transition: opacity 4s ease-in;
    -ms-transition: opacity 4s ease-in;
    transition: opacity 4s ease-in;
}
#homeContentBox p.load {
    opacity: 1;
}
.portfolioContentBox{
    float: left;
}