/* Background Image */
*{
    font-family: "Merriweather", "Open Sans", serif, sans-serif;
}
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#footer {
    height: 60px;
    background-color: #666;
    margin-top:10px;
}
body {
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/sayagata-400px.png");
}
.panel-group {
    text-align: center;
}
h1, h2 {
    color: #4aaaa5;
    font-weight: bold;
}
h1 {
    font-size:28px;
}
h2 {
    font-size: 24px;
}
.container {
	max-width: 960px;
}
#boxcontent {
	background-color: white;
    max-width: 650px;
}
#aboutcontent p {
    font-size: 14px;
}
#image-wrapper {
    position: relative;
    width: 250px;
    float:left;
    margin: 10px 10px 0px;
    background-color: #fff;
}
#image-wrapper p {
    position: absolute;
    left:15px;
    top: 125px;
    padding: 10px;
    border: 1px solid #FFF;
    width: 250px;
    color: #FFF;
    background-color: #4aaaa5;
    margin: 0px;
    font-weight: bold;
    font-size:20px;
    text-align: center;
}
.active{
    background-color: #eee;
}
#navhoveroverid:hover {
    transition: background-color 1.5s ease;
    transition-duration: 2s;
    background-color: #fff3e6;
}
#navhoverover:hover {
    transition: background-color 1.5s ease;
    transition-duration: 2s;
    background-color: #fff3e6;
}
#footer p {
    font-size: 12px;
    margin-top: 20px;
}
/* Apply media queries and viewport to make mobile responsive */

/* Samsung Galaxy S5 Media Query 
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    #aboutcontent p{
        font-size: 8px;
    }
} */